/*
Colors used:
Background Color (gray): #fafafa
Primary Color (Blue): #d9f6ff;
Secondary Color (Beige): #f1e1dd;
Hyperlink Color (Dark Blue): #007599
Hyperlink Active Color (Lighter Blue): #0379ce
Hyperlink Visited Color (Dark Orange): #cb4625
*/

* {
    box-sizing: border-box;
  }

body {
    background-color: #fafafa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: regular;
    color: #000000;
}

h1 {
    font-size: 1.5em;
    line-height: 1.5;
}

h2 {
    font-size: 1.2em;
    font-style: semibold;
}

p {
    font-size: 16px;
    line-height: 1.7;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.workimgleft {
    float: left;
    max-width: 45%;
    margin: 10px;
}

.workimgright {
    float: right;
    max-width: 45%;
    margin: 10px;
}

.textcenter {
    text-align: center;
}

header {
    background-color: #d9f6ff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin: 0 auto;
    width: 100vw;
    height: 25%;
    max-width: 1200px;
    border-bottom: 2px solid #007599;
    position: relative;
    width: [object Object]px; 
	height: [object Object]px; 
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)  ; 
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

nav > ul > li > a > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #007599;
}

nav > ul > li > a > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0379ce;
}

a {
    color: #007599;
    text-decoration: none;
}

a:visited {
    color: #007599;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #007599;
    text-decoration: underline;
}

a:active {
    color: #0379ce;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #d9f6ff00;
    color: #000000;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid #000000;
    transition: all .2s ease;
}

.button:hover {
    background-color: #e9e9e9;
    color: #000000
}

.button:active {
    background-color: #f1e1dd;
    text-decoration:underline;
}

.button.contact {
    background-color:transparent;
    color:#000000;
    transition: .2s background-color;
}

.button.contact:hover {
    background-color: #e9e9e9;
    text-decoration: underline;
}

.button.contact:active {
    background-color: #f1e1dd;
    text-decoration: underline;
}

.logo{
    display: inline-block;
    max-width: 50px;
    text-align: center;
}

.footerimg{
    display: inline-block;
    max-width: 25px;
}

#footer ul {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

#footer li {
    display: inline-block;
}

/* Layout styling */

.container {
    padding: 0 15px;
}

#work .row {
    margin: 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;

}

.center {
    text-align: center;
}

#hero {
    background-color: #f1e1dd;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#hero span {
    display: block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    padding-right: 0;
    right: 0;
    top: 2px;
    font-size: 20px;
}

.navtoggle.responsive li  {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 12px 0;
    border-top: 1px solid #000000;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 12px;
  }
/*Animation*/

@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
    animation-duration: 34s;
    animation-name: cloud-move-reverse;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    animation-timing-function: linear;
}
/*Media Queries*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 15px;
    }
    

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav > ul > li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    nav > ul {
        margin: 1em 0;
      }

    p {
        font-size: 18px;
    }

    [class*="col-"] {
        float: left;
        padding: 0, 10px, 0, 10px;
    }

    .col-md-6 {
        width: 50%;
    }

    .colu-md-6 {
        width: 50%;
        float: right;
        padding: 0px, 10px, 0px, 10px;
    }

    .workimgright , .workimgleft {
        max-width: 80%;
        margin: 0;
    }

    .workimgright {
        padding-left: 24px;
    }

    .workimgleft {
        padding-right: 24px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.31%;
    }

    .col-lg-5 {
        width: 41.65%;
    }

    .col-lg-12 {
        width: 100%;
        padding-left: 10px;
    }

    p {
        font-size: 22px;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    p{
        font-size: 26px;
    }
}


